<!--app/templates/weather_templates/weather_details.html-->
<!-- Modal Structure -->
<div id="weather-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3 class="text-center">Details for <span id="detail-date"></span></h3>
        <table class="weather-details-table">
            <tr>
                <td class="description-header">#</td>
                <td class="description-header">Description</td>
                <td class="description-header">Value</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Temperature</td>
                <td><span id="detail-temperature"></span>°C</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Description</td>
                <td><span id="detail-description"></span></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sea Level</td>
                <td><span id="detail-sea_level"></span> hPa</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Ground Level</td>
                <td><span id="detail-ground_level"></span> hPa</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Humidity</td>
                <td><span id="detail-humidity"></span>%</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Pressure</td>
                <td><span id="detail-pressure"></span> hPa</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Wind Speed</td>
                <td><span id="detail-wind_speed"></span> m/s</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Clouds</td>
                <td><span id="detail-clouds"></span>%</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Visibility</td>
                <td><span id="detail-visibility"></span> meters</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Max Temp</td>
                <td><span id="detail-temp_max"></span>°C</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Min Temp</td>
                <td><span id="detail-temp_min"></span>°C</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Sunrise</td>
                <td><span id="detail-sunrise"></span></td>
            </tr>
            <tr>
                <td>13</td>
                <td>Sunset</td>
                <td><span id="detail-sunset"></span></td>
            </tr>
        </table>
    </div>
</div>
